<!DOCTYPE html>
<html>
  <head>
    <title>Storiq</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <ul class="flash list-unstyled">
      <% flash.each do |name, msg| %>
        <li class="alert alert-dismissable <%= flash_class(name) %>">
          <button class="close" type="button" data-dismiss="alert">
            <span aria-hidden="true">
              &times;
            </span>
            <span class="sr-only">
              Close
            </span>
          </button>
          <%= msg %>
        </li>
      <% end %>
    </ul>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
